<!DOCTYPE html>
<!--This is a base template for all the pages-->
{% load static %}  <!--Loads all static files like css files-->
<html>

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Order Platform{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Below we pull in all the CDN links for bootstrap to work-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
            crossorigin="anonymous"></script>


</head>
<body>


<header class="site-header sticky-top py-1">
    <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
        <!--Navigation bar at the top of the page to be visible on all pages-->
        <div class="container-fluid"> <!--container for the header Elements-->
            <a class="navbar-brand" href="#">Marketplace</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <!--This is a button that appears when the page is narowed to give access to the naavbar options-->
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <!--A list of the links on the header bar-->
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <!--A drop down button to select suppliers to access their products-->
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Category
                            </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'Market:index' %}">All</a></li>
                            {% for category in categories %}
                            <li><a class="selected" href="#">Another action</a></li>
                            {% endfor %}
                        </ul>
                        </form>

            </div>
            </ul>

        </div>
        </div>
    </nav>
</header>
<div id="content">{% block content %} {% endblock %}</div>
</body>
</html>